
  .gif-container {
    
    width: 100%;
    height: 100%;
  }
  
  .fullscreen-gif {
    width: 100%;
    height:  40vh;
    object-fit: cover;
    opacity: 0.5;
  }
  .heading-over-gif {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Example color for the heading */
    text-align: center;
    font-size: 3em; /* Adjust the font size as needed */
  }

  .photo{
    width: 100%;
    height: 300px;
    border-radius: 50%;
  }


  .iconstyle{
    font-size: '2rem';
    color : 'rgb(255, 255, 255)';
    margin: '0 0.5rem',
    sizes="32x32"
  }