/* YourComponent.css */

/* Background image styling */
.h2{
    justify-content: center;
}
.blood-background {
    background-image: url('../images/slider1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  /* Styling for the appointment form */
  .appointment-form ,.prerequisites{
    background-color: rgba(255, 255, 255, 0.4); /* Adjust the opacity as needed */
    padding: 30px;
    border-radius: 10px;
    margin-top:auto;
  }
   .donateBloodBtn{
    width: 100%;
    margin-top: 4vh;
    background-color:crimson;
   }
   form Label {
    font-weight: bold;
    margin-bottom: 0;
   }

 

   .prerequisites{
    background-color: rgba(255, 255, 255, 0.4);
   }